<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-datecs-printer"
        version="0.12.1">

    <name>DatecsPrinter</name>
    <description>Cordova Datecs Mobile Bluetooth Printer Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, bluetooth, printer, datecs</keywords>
    <engines>
        <engine name="cordova-android" version=">=15.0.0" />
    </engines>

    <js-module src="www/printer.js" name="DatecsPrinter">
        <clobbers target="DatecsPrinter" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <framework src="androidx.localbroadcastmanager:localbroadcastmanager:1.1.0" value="gradle" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DatecsPrinter">
                <param name="android-package" value="com.giorgiofellipe.datecsprinter.DatecsPrinter"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <lib-file src="src/android/com.datecs.api.jar" arch="device" />
        <source-file src="src/android/DatecsPrinter.java" target-dir="src/com/giorgiofellipe/datecsprinter" />
        <source-file src="src/android/DatecsSDKWrapper.java" target-dir="src/com/giorgiofellipe/datecsprinter" />
        <source-file src="src/android/DatecsUtil.java" target-dir="src/com/giorgiofellipe/datecsprinter" />
        <source-file src="src/android/Printer.java" target-dir="src/com/giorgiofellipe/datecsprinter" />
        <source-file src="src/android/PrinterInformation.java" target-dir="src/com/giorgiofellipe/datecsprinter" />

        <source-file src="src/android/res/values-pt/strings.xml" target-dir="res/values-pt"/>
        <source-file src="src/android/res/values-fr/strings.xml" target-dir="res/values-fr"/>
        <source-file src="src/android/res/values-ar/strings.xml" target-dir="res/values-ar"/>
        <source-file src="src/android/res/values/strings.xml" target-dir="res/values"/>
    </platform>
</plugin>
